@model HelpBudgetMe.Models.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}


<main>
    <section>
        <h1 class="dashboard_headline pagestart">Dashboard</h1>
        <div class="flex_column-center">
            <div class="flex_column-center">
                <h5 class="overview_itemTitle">Current Budget Total</h5>
                <h5 class="overview_itemAmount"><strong>$@Model.CurrentMoney</strong></h5>
            </div>
            <div class="flex_column-center">
                <h5 class="overview_itemTitle">All-Time Earned</h5>
                <h5 class="overview_itemAmount"><strong>$@Model.AllTimeEarned</strong></h5>
            </div>
            <div class="flex_column-center">
                <h5 class="overview_itemTitle">All-Time Spent</h5>
                <h5 class="overview_itemAmount"><strong>$@Model.AllTimeSpent</strong></h5>
            </div>
        </div>
        <div>
        </div>
    </section>
    <section>
        <h2 class="dashboard_headline">Paychecks</h2>
        <div class="expenseType_actions">
            <a class="btn btn-action" asp-controller="Paycheck" asp-action="Index">View All</a>
            <a class="btn btn-action" asp-controller="Paycheck" asp-action="AddPaycheck">Add</a>
        </div>

        @if (Model.Paychecks.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Paychecks)
                    {
                        <tr>
                            <td data-heading="Name">@item.Name</td>
                            <td data-heading="Amount">$@item.Amount</td>
                            <td data-heading="Date">@item.DateCreated.ToShortDateString()</td>
                            <td data-heading="Actions">
                                <a class="table_actions" asp-controller="Paycheck" asp-action="EditPaycheck" asp-route-Id="@item.Id">Edit</a>
                                <a class="danger table_actions" asp-controller="Paycheck" asp-action="DeletePaycheck" asp-route-Id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="expenseType_none">You haven't added any paychecks yet.</h2>
        }

    </section>
    <section>
        <h2 class="dashboard_headline">Needs</h2>
        <div class="expenseType_actions">
            <a class="btn btn-action" asp-controller="Need" asp-action="Index">View All</a>
            <a class="btn btn-action" asp-controller="Need" asp-action="AddNeed">Add</a>
            <a class="btn btn-action" asp-controller="Need" asp-action="TransferFromNeeds">Transfer</a>
        </div>

        @if (Model.Needs.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Needs)
                    {
                        <tr>
                            <td data-heading="Name">@item.Name</td>
                            <td data-heading="Amount">$@item.Amount</td>
                            <td data-heading="Date">@item.DateCreated.ToShortDateString()</td>
                            <td data-heading="Actions">
                                <a class="table_actions" asp-controller="Need" asp-action="EditNeed" asp-route-Id="@item.Id">Edit</a>
                                <a class="danger table_actions" asp-controller="Need" asp-action="DeleteNeed" asp-route-Id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="expenseType_none">You haven't added any needs yet.</h2>
        }

        <h5 class="expenseType_amount">Budgeted for Needs: <strong>$@Model.NeedsBudget</strong></h5>
    </section>
    <section>
        <h2 class="dashboard_headline">Wants</h2>
        <div class="expenseType_actions">
            <a class="btn btn-action" asp-controller="Want" asp-action="Index">View All</a>
            <a class="btn btn-action" asp-controller="Want" asp-action="AddWant">Add</a>
            <a class="btn btn-action" asp-controller="Want" asp-action="TransferFromWants">Transfer</a>
        </div>

        @if (Model.Wants.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Wants)
                    {
                        <tr>
                            <td data-heading="Name">@item.Name</td>
                            <td data-heading="Amount">$@item.Amount</td>
                            <td data-heading="Date">@item.DateCreated.ToShortDateString()</td>
                            <td data-heading="Actions">
                                <a class="table_actions" asp-controller="Want" asp-action="EditWant" asp-route-Id="@item.Id">Edit</a>
                                <a class="danger table_actions" asp-controller="Want" asp-action="DeleteWant" asp-route-Id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="expenseType_none">You haven't added any wants yet.</h2>
        }

        <h5 class="expenseType_amount">Budgeted for Wants: <strong>$@Model.WantsBudget</strong></h5>
    </section>
    <section>
        <h2 class="dashboard_headline">Savings</h2>
        <div class="expenseType_actions">
            <a class="btn btn-action" asp-controller="Saving" asp-action="Index">View All</a>
            <a class="btn btn-action" asp-controller="Saving" asp-action="AddSaving">Spend</a>
            <a class="btn btn-action" asp-controller="Saving" asp-action="TransferFromSavings">Transfer</a>
        </div>

        @if (Model.Savings.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Savings)
                    {
                        <tr>
                            <td data-heading="Name">@item.Name</td>
                            <td data-heading="Amount">$@item.Amount</td>
                            <td data-heading="Date">@item.DateCreated.ToShortDateString()</td>
                            <td data-heading="Actions">
                                <a class="table_actions" asp-controller="Saving" asp-action="EditSaving" asp-route-Id="@item.Id">Edit</a>
                                <a class="danger table_actions" asp-controller="Saving" asp-action="DeleteSaving" asp-route-Id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="expenseType_none">You haven't spent any savings yet.</h2>
        }

        <h5 class="expenseType_amount">Total Savings: <strong>$@Model.SavingsBudget</strong></h5>
    </section>
</main>
