@model HelpBudgetMe.Models.ViewModels.DashboardViewModel;

<main>
    <section>
        <h1>Dashboard</h1>
        <div>
            <h5>Current Budget Total</h5>
            <h5>All-Time Earned</h5>
            <h5>All-Time Spent</h5>
        </div>
        <div>
            <h5><strong>@Model.CurrentMoney</strong></h5>
            <h5><strong>@Model.AllTimeEarned</strong></h5>
            <h5><strong>@Model.AllTimeSpent</strong></h5>
        </div>
    </section>
    <section>
        <h2>Paychecks</h2>
        <div>
            <a asp-controller="Paycheck" asp-action="AddPaycheck">Add Paycheck</a>
            <a asp-controller="Paycheck" asp-action="Index">All Paychecks</a>
            <a asp-controller="Transfer" asp-action="Index">Transfer</a>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            <tbody>
                @if (Model.Paychecks != null)
                {
                    @foreach (var item in Model.Paychecks)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>$@item.Amount</td>
                            <td>@item.DateCreated.ToShortDateString()</td>
                            <td>
                                <a asp-controller="Paycheck" asp-action="EditPaycheck" asp-route-Id="@item.Id">Edit</a>
                                <a asp-controller="Paycheck" asp-action="DeletePaycheck" asp-route-Id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </section>
    <section>
        <h2>Needs</h2>
        <div>
            <a asp-controller="Need" asp-action="AddNeed">Add Need</a>
            <a asp-controller="Need" asp-action="Index">All Needs</a>
            <a asp-controller="Transfer" asp-action="Index">Transfer</a>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            @if (Model.Needs != null)
            {
                @foreach (var item in Model.Needs)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>$@item.Amount</td>
                        <td>@item.DateCreated.ToShortDateString()</td>
                        <td>
                            <a asp-controller="Need" asp-action="EditNeed" asp-route-Id="@item.Id">Edit</a>
                            <a asp-controller="Need" asp-action="DeleteNeed" asp-route-Id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </table>
        <h5>Total Budget for Needs: <strong>@Model.NeedsBudget</strong></h5>
    </section>
    <section>
        <h2>Wants</h2>
        <div>
            <a asp-controller="Want" asp-action="AddWant">Add Want</a>
            <a asp-controller="Want" asp-action="Index">All Wants</a>
            <a asp-controller="Transfer" asp-action="Index">Transfer</a>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            @if (Model.Wants != null)
            {
                @foreach (var item in Model.Wants)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>$@item.Amount</td>
                        <td>@item.DateCreated.ToShortDateString()</td>
                        <td>
                            <a asp-controller="Want" asp-action="EditWant" asp-route-Id="@item.Id">Edit</a>
                            <a asp-controller="Want" asp-action="DeleteWant" asp-route-Id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </table>
        <h5>Total Budget for Wants: <strong>@Model.WantsBudget</strong></h5>
    </section>
    <section>
        <h2>Savings</h2>
        <div>
            <a asp-controller="Saving" asp-action="AddSaving">Spend Savings</a>
            <a asp-controller="Saving" asp-action="Index">All Savings</a>
            <a asp-controller="Transfer" asp-action="Index">Transfer</a>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            @if (Model.Savings != null)
            {
                @foreach (var item in Model.Savings)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>$@item.Amount</td>
                        <td>@item.DateCreated.ToShortDateString()</td>
                        <td>
                            <a asp-controller="Saving" asp-action="EditSaving" asp-route-Id="@item.Id">Edit</a>
                            <a asp-controller="Saving" asp-action="DeleteSaving" asp-route-Id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </table>
        <h5>Total Savings: <strong>@Model.SavingsBudget</strong></h5>
    </section>
</main>
