@model HelpBudgetMe.Models.ViewModels.EditViewModel

@{
    ViewData["Title"] = "Edit Need";
}


<main class="pagestart">
    <h1>Edit Need</h1>
    <form method="post" asp-controller="Need" asp-action="EditNeed">
        <div>
            <label asp-for="Name"></label>
            <input value="@Model.Name" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Amount"></label>
            <input value="@Model.Amount" asp-for="Amount" />
        </div>
        <input value="@Model.Id" asp-for="Id" hidden />
        <input value="@Model.DateCreated" asp-for="DateCreated" hidden />
        <input value="@Model.PreviousAmount" asp-for="PreviousAmount" hidden />
        <button type="submit">Update</button>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}