@model HelpBudgetMe.Models.ViewModels.EditViewModel

@{
    ViewData["Title"] = "Edit Need";
}


<main class="pagestart">
    <form class="flex_column-center" method="post" asp-controller="Need" asp-action="EditNeed">
        <h1 class="signing_title">Edit Need</h1>
        <div>
            <label asp-for="Name"></label>
            <input value="@Model.Name" asp-for="Name" />
            <span class="validationError danger" asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Amount"></label>
            <input value="@Model.Amount" asp-for="Amount" />
            <span class="validationError danger" asp-validation-for="Amount"></span>
        </div>
        <input value="@Model.Id" asp-for="Id" hidden />
        <input type="datetime" value="@Model.DateCreated" asp-for="DateCreated" hidden />
        <input value="@Model.PreviousAmount" asp-for="PreviousAmount" hidden />
        <button class="btn btn-action" type="submit">Update</button>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}